html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #000;
  color: #fff;
  width: 200px;
  padding: 10px 20px;
  border: #000 1.5px solid;
  font-weight: 550;
  letter-spacing: 0.5em;
  transition: all 0.4s;
  outline: none;
}

button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.4s;
}

img {
  border-radius: 9999px;
}
